//- config
- var width=300,height=250;
- var adsize='width=' + width + ',height=' + height;

doctype html
html(land='en')
  head
    meta(charset='utf-8')
    meta(name='ad.size' content=adsize)
    title
    script(src='code/TweenMax.min.js')
    script(src='code/stage.js')
    script(src='code/square.js')
    script(src='code/main.js')
    link(rel='stylesheet' href='code/main.css')
  body(onload='init();')
  script.
    var clickTag = 'http://google.com/'