//- config
- var tw_external='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js',tw_local='vendor/TweenMax.min.js';
- var tw=tw_external;
- var clickURL='http://www.google.com/';
//- adstage scripts
- var adstage=['log','stage','square','factory'];
//- classes, objects defined by user
- var custom=['bg','outline'];

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(id='dimensions' name='ad.size')
    title
    script.
      var clickTag='#{clickURL}';
    script(src=tw)
    link(href='adstage/square.css' rel='stylesheet')
    each val in adstage
      script(src='adstage/'+val+'.js')
    each val in custom
      script(src='classes/'+val+'.js')
    script(src='main.js')
  body(onload='init();')